# macos
.DS_Store

# dart and flutter
*.g.dart
/build/
.pub-cache/
.pub/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# android builds
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx
